/*
  Tag based Style
  Element based styling
  id based styling
  class based styling
*/
body{
    background-color: rgb(51, 65, 120) ;
}
.div-box{
    background-color: gray;
}
.nav-border{
    border: 1px solid gray;
}
.imgcard{
    height: 150px !important;
    width: 95%  !important;
    padding: 3% !important;
    border: none!important;
}
#home .card:hover{
box-shadow: 0px 0px 11px rgb(51, 65, 120);
}
#signup div input:hover{
    box-shadow: 0px 0px 11px rgb(51, 65, 120);
}
/* class based styling will start with a period
  it is reusable 
*/
/* .container{
    margin-left: 8.33%;
    margin-right:8.33%;
    border: 1px solid whitesmoke;
    padding: 1%;
    box-shadow: 5px 10px 10px whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.textbox{
    height: 30px;
    width: 150px;
    padding-left: 1%;
}

#txtPost{
    width: 400px;
    height:100px;
    padding:1%;
}






